@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;1,400&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}

main {
    background-color: rgba(255, 242, 225, 0.486);
}

h1 {
    font-family: 'Pacifico', sans-serif;
}

button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

section {
    height: 100vh;
    width: 100%;
    background-image: url("../../public/assets/bg.jpg");
}

.container {
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 242, 225, 0.486);
    z-index: 1;
    padding: 1rem;
}

.img-wrap {
    display: flex;
    padding-top: 3rem;
    
    & img {
        object-fit: cover;
        object-position: top;
        height: 10rem;
        width: 10rem;
        border-radius: 100%;
        border: 2px solid black;
    }
}

.flex-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.btc-wrap {
    border: 1px solid black;
    padding: 1rem;
    border-radius: 0.5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    font-size: 14px;
  
    & button {
      padding: 0.5rem;
    }
  
    & p {
      white-space: pre-wrap;
      word-break: break-all;
    }
  }

.copied {
    height: 2rem;
    text-align: center;
    padding: 1rem;
}
  

.language-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 600px;
    height: 8rem;
    margin: auto;

    & div {
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    & .flag {
        width: 100%;
        max-width: 40px;
    }
}

.text-wrap {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
}
